.about {
	background: url(../../public/imgs/gradient.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	text-align: center;
	font-size: 6em;
	padding-top: 50px !important;
}

h2 {
	font-size: 150%;
	position: relative;
	text-align: center;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 150%;
	position: relative;
	text-align: center;
}

p {
	margin: 0px;
	padding: 0px;
}

#projectDescription {
	font-size: 125%;
}

img {
	width: 175px;
	height: auto;
	position: relative;
	border-radius: 50%;
}

.about {
	color:white;
}

.flex-container {
	display:flex;
	flex-wrap:wrap;
    justify-content: center;
}

.flex-item {
	flex-basis:100%;
	background-color: rgba(0, 0, 0, .2);
	margin: 10px;
	padding: 30px;
	text-align: center;
	border-radius: 3px;
}

@media screen and (min-width:660px) {
  .flex-item {
    flex-basis:33%;  
  }
}



