.escape {
  background: url(../../public/imgs/gradient.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
}

.tweet {
  margin-bottom: 10px;
  height: 125px;
  overflow: hidden;
  background-color: transparent;
  padding: 15px;

}

 #data1 p {
  background: #ebfaeb;
}

 #data2 p {
  background: #ffe6e6;
}

.col {
  margin-top: 0;
}

.container {
  padding: 20px;
}

.escape p {
  text-indent: 0;
}
