.purpose {
	background: url(../../public/imgs/gradient.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#paragraph-section {
	color: white;
	padding-top: 10px;
}

.purpose h1 {
	font-size: 200%;
	position: relative;
	text-align: left;
	line-height: 135%;
	text-indent: 0px;
}

#text {
	text-indent: 50px;
	line-height: 135%;
	font-weight: lighter;
}

@media screen and (min-width:850px) {
  #paragraph-section {
    padding-left:100px;
    padding-right:100px;
   }
}


@media screen and (min-width:1000px) {
  #paragraph-section {
    padding-left:200px;
    padding-right:200px;
   }
}

