h1 {
	font-size: 250%;
	position: relative;
	text-align: center;
}

h2 {
	font-size: 150%;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 150%;
}

p {
	margin-top: 0px;
}

div {

}

#card {
	background-color: #F2F3F4;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	width:400px;
	height:300px;
	text-align: center;
	border-radius: 3px;
}

#projectDescription {

}

img {
	width: 80px;
	height: auto;
	position: relative;
	border-radius: 3px
}

